@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*>*{
  font-family: 'Poppins', sans-serif;
}

body{
    /* @apply bg-gradient-to-br from-slate-700 to-slate-800 */
    /* background-color: #D3D3D3; */
    @apply bg-slate-300
    
}

.container{
  @apply w-full min-h-screen px-4 pb-5 pt-10 md:px-28 text-black;
  /* text-center */
}

.loading{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

/* pdf styles */
.pdf-document {
  display: flexbox;
  justify-content: center;
}

.pdf-page {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  margin: 1rem;
  background-color: #f5f5f5;
  color: #333;
}

li{
  @apply py-2 md:ml-20 ml-5 md:text-lg;
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* .my-popup-class {
  @apply bg-slate-400 text-white 
} */


